<!DOCTYPE html>
<html>
<head>
    <title>10,000 Brews</title>
</head>
<body>

{% include 'title_bar.html' %}

{% block content %}
{% endblock %}

{% for establishment in establishments %}
    <div class="establishment" id="establishment_{{ establishment.pk }}">
        <a href="{% url 'establishment_detail' establishment_pk=establishment.pk %}">{{ establishment }}</a>
    </div>
{% empty %}
    <p>Nothing found!</p>
{% endfor %}

<hr>
<p><small>Created and run by Connor Dufault</small></p>
</body>
</html>