<!DOCTYPE html>
<html>
<head>
    <title>10,000 Brews - {{ drink.name }}</title>
</head>
<body>

{% include 'include_pages/title_bar.html' %}
{% block content %}
{% endblock %}

<h2>{{ drink.name }}</h2>
<p>{{ drink.type }} -- <a href="{% url 'establishment_detail' establishment_pk=drink.establishment.pk %}"> {{ drink.establishment.name }}</a></p>

{% if authenticated %}
    {% if not drunk %}
        <form id="drunk-form" method="GET" action="{% url 'set_drunk' drink_pk=drink.pk drunk='True' %}">
            <input id="drunk-button" type="submit" value="I've had this!">
        </form>
    {% else %}
        <form id="drunk-form" method="GET" action="{% url 'set_drunk' drink_pk=drink.pk drunk='False' %}">
            <label for="drunk-button">You've had this!</label>
            <input id="drunk-button" type="submit" value="Undo">
        </form>
    {% endif %}
{% endif %}
<hr>

{% if drink.style or drink.description %}
    <p>{{ drink.style }}</p>
    <p>{{ drink.description }}</p>
    <hr>
{% endif %}

<small>Added by {{ drink.user }}</small>

<hr>
<p><small>Created and run by Connor Dufault</small></p>
</body>
</html>