<!DOCTYPE html>
<html>
<head>
    <title>10,000 Brews - {{ establishment.name }}</title>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
</head>
<body>

{% include 'title_bar.html' %}
{% block content %}
{% endblock %}

<h2>{{ establishment.name }}</h2>
<p>{{ establishment.type }}</p>

{% if authenticated %}
    {% if not visited %}
        <form id="visited-form" method="GET" action="{% url 'set_visited' establishment_pk=establishment.pk visited='True' %}">
            <input id="visited-button" type="submit" value="I've been here!">
        </form>
    {% else %}
        <form id="visited-form" method="GET" action="{% url 'set_visited' establishment_pk=establishment.pk visited='False' %}">
            <label for="visited-button">You've been here!</label>
            <input id="visited-button" type="submit" value="Undo">
        </form>
    {% endif %}
{% endif %}
<hr>

{% if establishment.description %}
    <p>{{ establishment.description }}</p>
    <hr>
{% endif %}

<div id="map-id" style="width: 600px; height: 400px;"></div>
<script>
    var location_map = L.map('map-id').setView([{{ establishment.latitude }}, {{ establishment.longitude }}], 13);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ mapbox_token }}', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(location_map);
    L.control.scale().addTo(location_map);

    var establishment = L.marker([{{ establishment.latitude }}, {{ establishment.longitude }}]).addTo(location_map);
    establishment.bindPopup('{{ establishment.name }}');
</script>

<p>{{ establishment.address }}<br>
{{ establishment.city }}, {{ establishment.state }}<br>
{{ establishment.zip_code }}</p>
<hr>

{% for drink in drinks %}
    <div>
        <a href="{% url 'drink_detail' drink_pk=drink.pk %}">{{ drink }}</a>
    </div>
{% endfor %}

{% if authenticated %}
    <a href="{% url 'new_drink_form' establishment_pk=establishment.pk %}">Add a Drink</a>
{% endif %}

<hr>
<p><small>Created and run by Connor Dufault</small></p>
</body>
</html>