{% extends 'base.html' %}

{% block content %}

<h2>{{ establishment.name }}</h2>
<p>{{ establishment.type }}</p>

{% if not visited %}
    <form id="visited-form" method="GET" action="{% url 'set_visited' establishment_pk=establishment.pk visited='True' %}">
        <input id="visited-button" type="submit" value="I've been here!">
    </form>
{% else %}
    <form id="visited-form" method="GET" action="{% url 'set_visited' establishment_pk=establishment.pk visited='False' %}">
        <label for="visited-button">You've been here!</label>
        <input id="visited-button" type="submit" value="Undo">
    </form>
{% endif %}
<hr>

{% if establishment.description %}
    <p>{{ establishment.description }}</p>
    <hr>
{% endif %}

<p>{{ establishment.address }}<br>
{{ establishment.city }}, {{ establishment.state }}<br>
{{ establishment.zip_code }}</p>
<hr>

{% for drink in drinks %}
    <div>
        <a href="{% url 'drink_detail' drink_pk=drink.pk %}">{{ drink }}</a>
    </div>
{% endfor %}

<a href="{% url 'new_drink_form' establishment_pk=establishment.pk %}">Add a Drink</a>

{% endblock %}