<!DOCTYPE html>
<html>
<head>
    <title>10,000 Brews</title>
    {% include 'include_pages/style_links.html' %}
    {% block style %}
    {% endblock %}
</head>
<body>

<h1><a href="/">10,000 Brews</a></h1>
<hr>

<h2>Log in</h2>

<div class="message">
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST" action="">
  <table id='login-form'>
    {% csrf_token %}
    {{ form }}
  </table>
  <input type="submit" value="Login">
</form>

<p><a href="{% url 'register' %}">Or create an account</a></p>

<hr>
<p><small>Created and run by Connor Dufault</small></p>
</body>
</html>
