<!DOCTYPE html>
<html>
<head>
    <title>10,000 Brews</title>
    {% include 'include_pages/style_links.html' %}
    {% block style %}
    {% endblock %}

    {% include 'include_pages/leaflet_imports.html' %}
    {% block leaflet %}
    {% endblock %}
</head>
<body>

{% include 'include_pages/title_bar.html' %}
{% block content %}
{% endblock %}

<h2>{{ user.username }}</h2>

<p>{{ user.username }} has visited:
    <br>{{ visited_percents.all }}% of All
    <br>{{ visited_percents.breweries }}% of Breweries
    <br>{{ visited_percents.wineries }}% of Wineries
    <br>{{ visited_percents.distilleries }}% of Distilleries
    <br>{{ visited_percents.cideries }}% of Cideries
</p>

<h3>Places Visited:</h3>
{% for establishment in places_visited %}
    <div>
        <a href="{% url 'establishment_detail' establishment_pk=establishment.pk %}">{{ establishment }}</a>
    </div>
{% empty %}
    <div>{{ user.username }} hasn't visited anywhere yet!</div>
{% endfor %}
<br>

{% if places_visited %}
    {% include 'include_pages/map.html' %}
    {% block map %}
    {% endblock %}
{% endif %}

<h3>Drinks Drunk:</h3>
{% for drink in drinks_drunk %}
    <div>
        <a href="{% url 'drink_detail' drink_pk=drink.pk %}">{{ drink }}</a>
    </div>
{% empty %}
    <div>{{ user.username }} hasn't drank anything yet!</div>
{% endfor %}

<h3>Drinks Added:</h3>
{% for drink in drinks_added %}
    <div>
        <a href="{% url 'drink_detail' drink_pk=drink.pk %}">{{ drink }} -- {{ drink.establishment.name }}</a>
    </div>
{% empty %}
    <div>{{ user.username }} hasn't added any drinks yet!</div>
{% endfor %}

<hr>
<p><small>Created and run by Connor Dufault</small></p>
</body>
</html>
