<!DOCTYPE html>
<html>
<head>
    <title>10,000 Brews - {{ drink.name }}</title>
</head>
<body>

{% include 'include_pages/title_bar.html' %}
{% block content %}
{% endblock %}

<h2>{{ user.username }}</h2>

<h3>Places Visited:</h3>
{% for establishment in places_visited %}
    <div>
        <a href="{% url 'establishment_detail' establishment_pk=establishment.pk %}">{{ establishment }}</a>
    </div>
{% empty %}
    <div>{{ user.username }} hasn't visited anywhere yet!</div>
{% endfor %}

<h3>Drinks Drunk:</h3>
{% for drink in drinks_drunk %}
    <div>
        <a href="{% url 'drink_detail' drink_pk=drink.pk %}">{{ drink }}</a>
    </div>
{% empty %}
    <div>{{ user.username }} hasn't drank anything yet!</div>
{% endfor %}

<h3>Drinks Added:</h3>
{% for drink in drinks_added %}
    <div>
        <a href="{% url 'drink_detail' drink_pk=drink.pk %}">{{ drink }} -- {{ drink.establishment.name }}</a>
    </div>
{% empty %}
    <div>{{ user.username }} hasn't added any drinks yet!</div>
{% endfor %}

<hr>
<p><small>Created and run by Connor Dufault</small></p>
</body>
</html>