<!DOCTYPE html>
<html>
<head>
    <title>10,000 Brews</title>
    {% include 'include_pages/style_links.html' %}
    {% block style %}
    {% endblock %}
</head>
<body>

{% include 'include_pages/title_bar.html' %}
{% block content %}
{% endblock %}

<h2>Add a new drink from {{ establishment.name }}</h2>

<form method="POST" action="{% url 'new_drink_form' establishment_pk=establishment.pk %}" enctype="multipart/form-data">
    <div>
        {% csrf_token %}
        {{ drink_form.as_p }}
    </div>
    <input type="submit" value="Add Drink">
</form>

<hr>
<p><small>Created and run by Connor Dufault</small></p>
</body>
</html>